@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    background: rgb(255, 248, 220);
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.travel--container {
    position: relative;
    width: 40rem;
    max-width: 90%;
    height: 40rem;
    background: rgb(253, 251, 240);
    border: 10px solid pink;
    border-radius: 2rem;
    box-shadow: -15px 10px 12px rgba(0,0,0,.4);
}

.circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14rem;
    height: 14rem;
    background: rgb(253, 251, 240);
    border: solid 8px pink;
    border-radius: 50%;
    box-shadow: inset -3px -3px 5px rgba(0,0,0,.275),
                inset 3px 3px 5px rgba(0,0,0,.275),
                -3px 4px 5px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle--two {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    box-shadow: -20px 12px 15px rgba(0,0,0,.4);
    z-index: -1;
}

.icon--top {
    font-size: 4.5rem;
}

.one {
    width: 100%;
    height: 60%;
    padding: 2rem;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,.275),
                inset -3px -3px 5px rgba(0,0,0,.275);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: 10px solid pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.para {
    text-align: center;
}

.para--main {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 4rem;
}

.para--sub {
    margin-top: 1rem;
}

.two {
    width: 100%;
    height: 40%;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,.275),
                inset -3px -3px 5px rgba(0,0,0,.275);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.call {
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    box-shadow: -10px 3px 9px rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .3s ease;
    cursor: pointer;
}

.accept::before,
.decline::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5.7rem;
    height: 5.7rem;
    border-radius: 50%;
}

.accept::before {
    background: rgb(156, 230, 82);
    box-shadow: inset -3px -3px 9px rgba(0,0,0, .2),
                inset 1px 1px 9px rgba(0, 0, 0, .2);
}

.accept {
    position: relative;
    z-index: 10;
    background: rgb(156, 230, 82);
}

.puls--1 {
    position: absolute;
    width: 5.5rem;
    height: 5.5rem;
    background: rgb(156, 230, 82);
    border-radius: 50%;
    z-index: -1;
}

.puls--2 {
    position: absolute;
    width: 5.5rem;
    height: 5.5rem;
    background: transparent;
    border: 1px solid rgb(89, 179, 0);
    border-radius: 50%;
    z-index: -1;
}

.puls--1.puls--1 {
    animation: pulsOne 2s linear infinite;
}

.puls--2.puls--2 {
    animation: pulsTwo 2s infinite ease-in-out;
}

.ring-ring {
    animation: ring 1.5s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(-25deg);
    }
    20% {
        transform: rotate(25deg);
    }
    30% {
        transform: rotate(-25deg);
    }
    40% {
        transform: rotate(25deg);
    }
    50% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes pulsOne {
    0% {
        transform: scale(1);
        opacity: .1;
    }
    30% {
        transform: scale(1.3);
        opacity: .7;
    }
    100% {
        transform: scale(1.4);
        opacity: .1;
    }
}

@keyframes pulsTwo {
    0% {
        transform: scale(1);
        opacity: .1
    }
    30% {
        transform: scale(1.7);
        opacity: .5
    }
    100% {
        transform: scale(1.9);
        opacity: .1
    }
}

.decline::before {
    background: rgb(252, 117, 112);
    box-shadow: inset -3px -3px 9px rgba(0,0,0, .2),
                inset 1px 1px 9px rgba(0, 0, 0, .2);
}

.decline {
    background: rgb(252, 117, 112);
}

.icon {
    font-size: 3rem;
    color: white;
    z-index: 1;
}

.icon--accept {
    transform: rotate(0);
    filter: drop-shadow(3px 5px 4px rgb(0, 0, 0, 0.7));
}

.icon--decline {
    transform: rotate(-135deg);
    filter: drop-shadow(-3px -3px 3px rgb(0, 0, 0, 0.7));
}

.response {
    margin-top: 1rem;
}

.modal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100vw;
    max-width: 90%;
    padding: 2rem;
    margin-top: 4rem;
    transition: transform .3s ease;
    z-index: 100;
}

.modal.show {
    transform: translate(-50%, -50%) scale(1);
}

.card {
    position: relative;
    height: 52rem;
    border-radius: 2rem;
    background: wheat;
    box-shadow: 3px 3px 9px rgba(0,0,0, .5);
    overflow: hidden;
    cursor: pointer;
}

.card--img {
    position: relative;
    width: 100%;
    height: 37rem;
}

.card--img::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgb(154, 205, 50);
    mix-blend-mode: multiply;
}

.card--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    position: absolute;
    bottom: -4rem;
    right: 9rem;
    width: 35rem;
    height: 20rem;
    border-radius: 2rem;
    transform: rotate(-12deg) scale(1.6);
}

.info--new-york {
    background: linear-gradient(to bottom, rgb(45, 45, 45), rgb(123, 255, 0));
}

.info--rome {
    background: linear-gradient(to bottom, rgb(45, 45, 45), rgb(255, 131, 0));
}

.info--paris {
    background: linear-gradient(to bottom, rgb(45, 45, 45), rgb(0, 243, 255));
}

.info * {
    transform: rotate(0) scale(1);
}

.info--container {
    position: relative;
    padding: 2rem;
    z-index: 1;
}

.info--para {
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
}

.background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}

.background.show {
    display: block;
}

.icon--times {
    display: none;
    position: absolute;
    top: 2.3rem;
    right: 2.3rem;
    z-index: 100;
    cursor: pointer;
}

.icon--times.show {
    display: block;
}

.icon--times img {
    width: 2rem;
    height: 2rem;
}

.btn {
    font-size: 1.3rem;
    padding: 1rem 3rem;
    margin-top: 2rem;
    background: transparent;
    color: rgb(255, 255, 255);
    border-radius: .5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.btn--new-york {
    border: 2px solid rgb(123, 255, 0);
}

.btn--rome {
    border: 2px solid rgb(255, 131, 0);
}

.btn--paris {
    border: 2px solid rgb(0, 243, 255);
}

.icon--img {
    position: absolute;
    top: -8rem;
    right: 4rem;
    width: 6rem;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    border-radius: .5rem;
    box-shadow: inset 0 0 1rem rgba(0,0,0, .25);
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background:rgb(207, 151, 151);
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
}

@media only screen and (max-width: 31.25em) {
    .modal {
        height: 100%;
    }
}